name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches: ["main"]
    tags: "*"
  workflow_dispatch:

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Markup Link Checker (mlc)
        uses: becheran/mlc@v1.2.0
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codecov/codecov-action@v1
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version: "1.22"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.63
          args: --tests=false --timeout=10m
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.22"
      - name: Test
        run: go test ./... -json > report.json
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: report.json
      - name: Report
        uses: becheran/go-testreport@main
        with:
          input: report.json
  release:
    runs-on: ubuntu-latest
    needs: [check-links, test]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.22"
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: v1.23.0
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
